h4,
h5 {
  color: #bdbddd;
}

p {
  margin: 1px 5px;
  color: #90a0d9;
}

.project-card {
  background-color: #2a2f4c;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25vw;
  padding: 10px;
}
