.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px 5px;
}

.skills-wrapper {
  width: 30vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
}

.skills-btn {
  margin: 10px 0;
  color: #90a0d9;
  border: none;
  font-size: 0.7rem;
  padding: 8px;
  background-color: #2a2f4c;
}
